/* -----------------------------------------Color Settings----------------------------------------- */

:root {
    --mainBg : black;
    --mainText : white;
    --secondText : #777777;
    --mainEmphasis : #00509D;
    --secondEmphasis : #f64d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ------------------------------------------Global Settings--------------------------------------- */

body {
    background-color: var(--mainBg);
}

section {
    width: 100%;
}

span {
    color: var(--secondEmphasis);
}

a { 
    text-decoration: none;
    color: var(--mainEmphasis);
}

.containerWidth {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1199px) {
    .containerWidth {
        width: 95%;
        margin: 0 auto;
    }
}

/* ------------------------------------------Font Settings----------------------------------------- */

html {
    font-family: -apple-system , system-ui , BlinkMacSystemFont , "Segoe UI" ,Roboto , "Helvetica Neue" , Arial , sans-serif;
    font-size: 15px;
}

h1 {
    font-weight: 800;
    font-size: 5.5rem;
    color: var(--mainText);
}

h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--mainText);
}

h3 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--mainText);
    padding-bottom: 2rem;
}

p {
    font-weight: 300;
    font-size: 1.75rem; 
    color: var(--mainText);
}

.subtitle {
    font-weight: 600;
    font-size: 3rem;
    color: var(--secondText);
}

#history .containerContentSection p {
    line-height: 3rem;
}

.navLinks {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem; 
    color: var(--secondText);
    transition: .2s;
}

.navLinks:hover {
    color: var(--mainText);
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .subtitle {
        font-size: 1.75rem;
    }
    .navLinks {
        font-size: 1rem;
    }
    #history .containerContentSection p {
        line-height: 2rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.25rem;
    }
    .subtitle {
        font-size: 2.25rem;
    }
    .navLinks {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Header------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

header {
    height: 100vh;
    width: 100%;
    background: url('../assets/img/avatar.png') no-repeat;
    background-size: 600px;
    background-position: bottom;
    animation: backgroundHeaderApparition 1.25s ease;
}

nav {
    width: 100%;
    height: 10vh;
    animation: navContentApparition 1s ease;
}

.containerNav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.containerLogo img {
    height: 5vh;
    width: auto;
}

.containerLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.containerLinks ul li a {
    padding-left: 2rem;
}

@media screen and (max-width: 576px) {
    header {
        background-size: 350px;
    }
    .containerLinks ul li a {
        padding-left: 0;
        padding-left: .5rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        background-size: 475px;
    }
    .containerLinks ul li a {
        padding-left: 0;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 993px) and (max-width : 1199px) {
    header {
        background-size: 550px;
    }
    .containerLinks ul li a {
        padding-left: 1.25rem;
    }
}

/* ------------------------------------------Presentation------------------------------------------ */

.containerContent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    animation: navContent 1.25s ease;
}

.containerContent h1 {
    text-align: center;
    margin-top: 4vh;
}

.containerContent p {
    max-width: 650px;
    text-align: center;
    margin-top: 1vh;
}

.containerObject {
    position: relative;
    width: 100%;
}

.containerObjectLeft {
    animation: objectLeftApparitionLeft 2s ease;
}

.containerObjectRight {
    animation: objectLeftApparitionRight 2.5s ease;
}

.objectTransitionLeft {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 250px;
    height: 250px;
    animation: levitateLeft 6s ease-in-out infinite;
}

.objectTransitionRight {
    position: absolute;
    top: 175px;
    right: 75px;
    width: 250px;
    height: 250px;
    animation: levitateRight 5.5s ease-in-out infinite;
}

@media screen and (max-width: 576px) {
    .objectTransitionLeft {
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100px;
        height: 100px;
        animation: levitateLeft 6s ease-in-out infinite;
    }
    .objectTransitionRight {
        position: absolute;
        top: 70px;
        right: 0px;
        width: 100px;
        height: 100px;
        animation: levitateRight 5.5s ease-in-out infinite;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .objectTransitionLeft {
        position: absolute;
        top: 75px;
        left: 0px;
        width: 175px;
        height: 175px;
        animation: levitateLeft 6s ease-in-out infinite;
    }
    .objectTransitionRight {
        position: absolute;
        top: 100px;
        right: 0px;
        width: 175px;
        height: 175px;
        animation: levitateRight 5.5s ease-in-out infinite;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    .objectTransitionLeft {
        position: absolute;
        top: 75px;
        left: 50px;
        width: 200px;
        height: 200px;
        animation: levitateLeft 6s ease-in-out infinite;
    }
    .objectTransitionRight {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 200px;
        height: 200px;
        animation: levitateRight 5.5s ease-in-out infinite;
    }
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Compétences------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

.containerContentTitle {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerContentSection {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerIconsSection {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .containerContentTitle {
        height: 10vh;
    }
    .containerContentSection {
        height: auto;
    }
    .containerIconsSection {
        height: auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .containerContentSection {
        height: auto;
    }
    .containerIconsSection {
        height: auto;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    .containerContentSection {
        height: auto;
    }
    .containerIconsSection {
        height: auto;
    }
}

/* ------------------------------------------Icons------------------------------------------- */

.containerIcons {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.containerIconsLast {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0rem;
}

.centerIcons {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands, .fa-solid {
    color: white;
    transition: .2s ease;
}

.iconsContainer {
    font-size: 5em;
}

.fa-windows:hover {
    color: #0078d4;
}

.fa-apple:hover {
    color: #A2AAAD;
}

.fa-git-alt:hover {
    color: #F1502F;
}

.fa-figma:hover {
    color: #A259FF;
}

.fa-html5:hover {
    color: #e34c26;
}

.fa-css3-alt:hover {
    color: #264de4;
}

.fa-bootstrap:hover {
    color: #563d7c;
}

.fa-js-square:hover {
    color: #f0db4f;
}

.fa-php:hover {
    color: #8993be;
}

.fa-wordpress:hover {
    color: #21759b;
}

.fa-database:hover {
    color: #f29111;
}

@media screen and (max-width: 576px) {
    .iconsContainer  {
        font-size: 3em;
    }
    .containerIcons {
        height: auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .iconsContainer  {
        font-size: 4em;
    }
    .containerIcons {
        height: auto;
    }
}



/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Projects---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

.containerGridSection {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 4rem;
    padding-bottom: 4rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "projet1"
    "projet2";
}

.gridProjectFirst {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.gridProjectsRest {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.gridProjectFirst img, .gridProjectsRest img {
    object-fit: cover;
    width: 100%;
    height: 650px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .containerGridSection {
        grid-gap: 1rem;
        padding-bottom: 1rem;
    }
    .gridProjectFirst, .gridProjectsRest {
        height: auto;
    }
    .gridProjectFirst img, .gridProjectsRest img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .containerGridSection {
        grid-gap: 3rem;
        padding-bottom: 3rem;
    }
    .gridProjectFirst, .gridProjectsRest {
        height: auto;
    }
    .gridProjectFirst img, .gridProjectsRest img {
        width: 100%;
        height: 350px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    .containerGridSection {
        grid-gap: 3rem;
        padding-bottom: 3rem;
    }
    .gridProjectFirst, .gridProjectsRest {
        height: auto;
    }
    .gridProjectFirst img, .gridProjectsRest img {
        width: 100%;
        height: 500px;
    }
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Footer------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    border-top: 2px solid var(--mainText);
}

.footerContainerLeft {
    width: 50%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerContainerLeft p {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--mainText);
}

button {
    background-color: var(--secondEmphasis);
    margin-top: 1rem;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

button a {
    color: var(--mainText);
    font-size: 1.25rem;
}

.footerContainerRight {
    width: 50%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerLinks {
    width: 100%;
    height: ;
    display: flex;
    justify-content: flex-end;
}

.footerLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

.footerLogo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerIcons {
    font-size: 3rem;
    padding-left: 2rem;
}

@media screen and (max-width: 992px) {
    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 1rem 0rem;
    }
    
    .footerContainerLeft {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footerContainerLeft p {
        font-size: 1rem;
        text-align: center;
    }
    
    button {
        background-color: var(--secondEmphasis);
        margin-top: 1rem;
        border: 0px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
    }
    
    button a {
        color: var(--mainText);
        font-size: 1.25rem;
    }
    
    .footerContainerRight {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footerLinks {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    
    .footerLinks ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding-top: 1rem;
        display: none;
    }

    .footerLinks ul li:nth-child(2n+0) {
        padding: .25rem 0;
    }
    
    .footerLogo {
        padding-bottom: 1rem;
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    
    .footerIcons {
        font-size: 2rem;
        padding-left: 0rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .footerIcons {
        font-size: 2.5rem;
    }
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Animations-------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

@keyframes navContentApparition {
    0% {
        transform: translateY(-50vw);
        opacity: 0%;
        filter: blur(100px);
    }

    25% {
        transform: translateY(-25vw);
        opacity: 0%;
        filter: blur(50px);

    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
        filter: blur(0);
    }
}

@keyframes backgroundHeaderApparition {
    0% {
        opacity: 0%;
        filter: blur(100px);
    }

    25% {
        opacity: 0%;
        filter: blur(100px);

    }

    100% {
        opacity: 100%;
        filter: blur(0);
    }
}

@keyframes objectLeftApparitionLeft {
	0% {
		transform: translate(-100vw, -100vh);
        opacity: 0%;
        filter: blur(100px);
	}
	50% {
		transform: translate(-50vw, -50vh);
        opacity: 0%;
        filter: blur(100px);
	}
	100% {
		transform: translate(0, 0);
        opacity: 100%;
        filter: blur(0px);
	}
}

@keyframes objectLeftApparitionRight {
	0% {
		transform: translate(100vw, 100vh);
        opacity: 0%;
        filter: blur(100px);
	}
	50% {
		transform: translate(50vw, -50vh);
        opacity: 0%;
        filter: blur(100px);
	}
	100% {
		transform: translate(0, 0);
        opacity: 100%;
        filter: blur(0px);
	}
}

@keyframes levitateLeft {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes levitateRight {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}