/* -----------------------------------------Color Settings----------------------------------------- */

:root {
    --mainBg : black;
    --mainText : white;
    --secondText : #777777;
    --mainEmphasis : #00509D;
    --secondEmphasis : #FF5642;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ------------------------------------------Global Settings--------------------------------------- */

body {
    background-color: var(--mainBg);
}

.containerWidth {
    max-width: 1200px;
    margin: 0 auto;
}

    /* ------------------------------------------Section & Flex------------------------------------ */


section {
    height: 100vh;
    width: 100%;
}

.sectionTitle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80vh;
}

.containerFlexLeft {
    width: 45%;
}

.containerFlexRight {
    width: 45%;
    height: 100%;
    background-color: #00509D;
}

    /* ------------------------------------------Contenu section------------------------------------ */


.contentTitle {
    padding-bottom: 3rem;
}

.contentParagraph {
    line-height: 2rem;
}

    /* ------------------------------------------Button section------------------------------------ */


button {
    background-color: var(--secondEmphasis);
    padding: 10px;
    border: 0;
    border-radius: 10px;
    transition: .5s;
}

button:hover {
    background-color: var(--mainEmphasis);
}

.buttonSection {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------Font Settings----------------------------------------- */

html {
    font-family: -apple-system , system-ui , BlinkMacSystemFont , "Segoe UI" ,Roboto , "Helvetica Neue" , Arial , sans-serif;
    font-size: 15px;
}

h1 {
    font-weight: 800;
    font-size: 5.5rem;
    color: var(--mainText);
}

h2 {
    font-weight: 600;
    font-size: 4rem;
    color: var(--mainText);
}

h3 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--mainText);
}

p {
    font-weight: 500;
    font-size: 1.25rem; 
    color: var(--mainText);
}

.subtitle {
    font-weight: 600;
    font-size: 3rem;
    color: var(--secondText);
}

.buttonLinks {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--mainText);
}

.navLinks {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.75rem; 
    color: var(--secondText);
    transition: .2s;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.75rem;
    }

    .navLinks {
        font-size: 1rem;
    }

    .buttonLinks {
        font-size: 1rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.25rem;
    }

    .subtitle {
        font-size: 2.25rem;
    }

    .navLinks {
        font-size: 1.25rem;
    }

    .buttonLinks {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 2.5rem;
    }
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Header------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

header {
    height: 100vh;
    width: 100%;
    background: url('../assets/img/avatar.png') no-repeat;
    background-position: bottom;
}


nav {
    width: 100%;
    height: 10vh;
}

.containerNav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.containerLogo img {
    height: 5vh;
    width: auto;
}

.containerLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.containerLinks ul li a {
    padding-left: 2rem;
}

@media screen and (max-width: 576px) {
    header {
        background-size: 800px;
    }
    .containerLogo {
        padding-left: .5rem;
    }
    
    .containerLinks ul li a {
        padding-left: 0;
        padding-right: .5rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        background-size: 850px;
    }
    
    .containerLogo {
        padding-left: 1rem;
    }

    .containerLinks ul li a {
        padding-left: 0;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 993px) and (max-width : 1199px) {
    header {
        background-size: 950px;
    }

    .containerLogo {
        padding-left: 1.25rem
    }

    .containerLinks ul li a {
        padding-left: 0;
        padding-right: 1.25rem;
    }
}


/* ------------------------------------------Presentation------------------------------------------ */

.containerContent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.containerContent h1 {
    text-align: center;
    margin-top: 4vh;
}

.containerContent p {
    max-width: 650px;
    text-align: center;
    margin-top: 1vh;
}

@media screen and (max-width: 576px) {
    .containerContent {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .containerContent {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 993px) and (max-width : 1199px) {
    .containerContent {
        max-width: 90%;
        margin: 0 auto;
    }
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Compétences------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 576px) {
    .containerSkills {
        flex-direction: column;
        height: auto;
    }

    .containerSkillsLeft, .containerSkillsRight {
        width: 90%;
    }
}

/* ------------------------------------------À propos---------------------------------------------- */


/* ------------------------------------------Nuages de mots---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------Compétences------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

.containerProjects {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "projet1 projet2 projet3 projet4"
    "projet5 projet6 projet7 projet8";
}

.cardProjects {
    width: 100%%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardProjects a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
